<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sección de economía</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="css/normalize.css" /> -->
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/styles.css" />
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="contenedor">
		<header class="header">
			<figure class="logo">
				<img class="logo-header" src="../images/logo-header.png" alt="Logo" width="300px" />
			</figure>
			<span class="burger-button icon-menu" id="burger-button"></span>
			<nav class="nav" id="menu">
				<ul class="lista-items">
					<li class="item">
						<a class="link-item" href="../index.html">Inicio</a>
					</li>
					<li class="item">
						<a class="link-item" href="../views/deportes.html">Deportes</a>
					</li>
					<li class="item">
						<a class="link-item" href="#">Economía</a>
					</li>
					<li class="item">
						<a class="link-item" href="../views/entretenimiento.html">Entretenimiento</a>
					</li>
					<li class="item">
						<a class="link-item" href="../views/contacto.html">contacto</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="contenedor">
		<section class="section-main">
			<article class="article-principal">
				<h2 class="title-a">Noticia de Economía</h2>
				<h2 class="title-b">Las cuentas del Grupo Éxito registran pérdidas en el trimestre</h2>
				<img src="../images/exito.png" alt="imagen portada" />
				<p class="description-main">La cadena indicó que el resultado neto negativo se debió a Brasil, donde tienen 1.882 almacenes. <br>
				Una pérdida neta consolidada, por 48.849 millones de pesos registró el Grupo Éxito en el segundo trimestre del año, según informó la compañía.</p>
			</article>

			<aside class="aside">
				<h2 class="title-a">Noticias relevantes</h2>
				<article class="aside-article">
					<img class="aside-img" src="../images/banco.jpg" alt="">
					<div class="contenedor-aside">
						<h3 class="title-aside">Banco de la República mantuvo la tasa de interés en 7,75 %</h3>
						<p class="p-aside">Después de 11 subidas, la decisión fue mantenerla.</p>
						<a class="link-aside" href="#">Ver más</a>
					</div>
				</article>
				<article class="aside-article">
					<img class="aside-img" src="../images/desempleo.png" alt="">
					<div class="contenedor-aside">
						<h3 class="title-aside">Con desempleo de 9,8 % en julio, hay 2'370.000 desocupados.</h3>
						<p class="p-aside">En la capital chocoana se registra una tasa de 17 por ciento.</p>
						<a class="link-aside" href="#">Ver más</a>
					</div>
				</article>
				<article class="aside-article">
					<img class="aside-img" src="../images/trabajo.jpg" alt="">
					<div class="contenedor-aside">
						<h3 class="title-aside">La diferencia en horas entre el trabajo de un ejecutivo y un operario</h3>
						<p class="p-aside">Para el estudio, el elempleo.com tomó como base siete cargos representativos de las empresas.</p>
						<a class="link-aside" href="#">Ver más</a>
					</div>
				</article>
			</aside>
		</section>

		<section class="section-sur">
			<article class="article-sur">
				<a class="link-sur" href="#">
					<h3 class="title-c">Latam Airlines Brasil anuncia nueva ruta São Paulo-Buenos Aires-Bogotá</h3>
					<img class="img-sur" src="../images/latam.jpg" alt="" width="300px" height="200px">
					<p class="description-sur">Desde el próximo 15 de diciembre los viajeros podrán conectarse directamente entre Bogotá y Buenos Aires a partir de la nueva ruta São Paulo-Buenos Aires-Bogotá que anunció la compañía Latam Airlines Brasil.</p>
				</a>
			</article>
			<div class="video-responsive-contenedor">
				<iframe class="video-responsive-src" width="560" height="315" src="https://www.youtube.com/embed/g3F9BvximsE" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>
	</div>

	<div class="contenedor">
		<footer class="footer">
			<img class="logo-footer" src="images/logo-footer.png" alt="Logo" width="300px" />
			<div class="link-social">
				<a class="link-social-footer" href="https://www.facebook.com/karmelo.argel">
					<span class="icon-facebook"></span>
				</a>
				<a class="link-social-footer" href="https://twitter.com/KarmeloArgel">
					<span class="icon-twitter"></span>
				</a>
				<a class="link-social-footer" href="https://www.google.com.co">
					<span class="icon-google-plus"></span>
				</a>
			</div>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
	<script>
			var consulta = window.matchMedia('(max-width: 785px)');
			consulta.addListener(mediaQuery);

			var $burgerButton = document.getElementById('burger-button');
			var $menu = document.getElementById('menu');
			function toggleMenu(){
				$menu.classList.toggle('active');
				$burgerButton.classList.toggle('icon-menu');
			};
			function showMenu(){
				$menu.classList.add('active');
				$burgerButton.classList.add('icon-menu');
			};
			function hideMenu(){
				$menu.classList.remove('active');
				$burgerButton.classList.remove('icon-menu');
			};
			function mediaQuery(){
				if (consulta.matches) {
					console.log('Se cumplio');
					$burgerButton.addEventListener('touchstart', toggleMenu);
				} else {
					console.log('No se ha cumplido');
					$burgerButton.removeEventListener('touchstart', toggleMenu);
				}
			};
			mediaQuery();
			//touchstart
			/*$burgerButton.addEventListener('touchstart', toggleMenu);
			function toggleMenu(){
				$menu.classList.toggle('active');
				$burgerButton.classList.toggle('icon-close');
			};*/
			//Gestos touch
			var $body = document.body;
			var gestos = new Hammer($body);
			
			gestos.on('swipeleft', hideMenu);
			gestos.on('swiperight', showMenu);
		</script>
	
</body>
</html>